body{
  font-family: 'Rubik Mono One', sans-serif;
  color: #d4bbad;
  background-color: #a33625;
  padding: 30px 30px 0 30px; 
  margin: 0 auto;
  min-width: 320px;
    }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #c8ada0;
  margin: 1em -20px 1em -20px;
}

.switcher{
  background-color: #d4bbad;
  border-radius: 32px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(#d4bbad, #e8d5cc);
         }

.button{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 32px;
  color: black;
  font-size: 1.15em;
  padding: 6px 12px 6px 12px;
  box-shadow: #3e140e 0 0 4px;
  background-color: #c8ada0;
  border: solid white 3px;
  transition: 0.05s linear;
  margin: 4px;
}

.button:hover{
  box-shadow: #3e140e 0 0 8px;
  background-color: #ecd2c6;
  border-color: #ecd2c6;
             }

.button-dead{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 16px;
  color: white;
  font-size: 1.15em;
  padding: 6px 12px 6px 12px;
  background-color: #c8ada0;
  border: solid #d4bbad 6px;
  margin: 4px;
  text-shadow: 0px 2px 8px #907c73;
}

.footer a{
  text-decoration: none;
  background-color: #d4bbad;
  color: black;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  box-shadow: #3e140e 0 0 4px;
  transition: 0.05s linear;
  white-space: nowrap;
         }

.footer a:hover{
  box-shadow: unset;
  z-index: 100;
  background-color: #a33625;
  color: #3e140e;
               }

.photoblock p {
  margin:10px 0 2px 0;
  font-size:0.8em;
  color:#9b725f;
              }

.footer p {
  padding: 0;
  margin: 0;
          }

.footer{
  margin: 25px auto;
  max-width: 1500px;
  background-color:#712519; 
  border-radius:16px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(#842b1d, #712519);
}

h1{
  margin: 30px 15px 0px 15px;
  font-size:2.5em;
  text-align: center;
  }

h3{
  margin: 0px 15px 60px 15px;
  text-align: center;
  color: black;
  font-weight: unset;
  }

h5{
  margin: 0px;
  }

img{
  box-shadow: #3e140e 0 0 4px;
  max-width:95%;
  margin: auto;
  border-radius: 4px;
  transition: 0.15s cubic-bezier(0.1, 1.3, 1, 1);
   }

img:hover{
  box-shadow: #3e140e 0 0 16px;
  z-index: 100;
  transform: scale(1.7,1.7)
   }
   
img.static:hover{
  box-shadow: #3e140e 0 0 16px;
  transform: unset;
   }

.big{
  max-height: 780px;
}

img.big:hover{
  box-shadow: #3e140e 0 0 4px;
  transform: unset;
   }

.container{
  margin: 0 auto;
  max-width:900px;
  text-align: center;
}

.photoblock{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 15px;
  background: linear-gradient(#842b1d, #712519);
  border-radius:16px;
  margin: 25px 0 25px 0;
  padding: 20px;
  text-align: center;
  justify-content: stretch;
           }

@media only screen and (max-width: 960px) {
  body{
    padding: 15px 0 0 0;
      }

  .container{
  max-width:100%;
            }
  img{
    max-width:92%;
     }
  img:hover{
  transform: scale(1.25,1.25)
  }
  .switcher{
    margin-bottom: 0;
    border-radius: 16px 16px 0 0;
    z-index: 100;
           }
  .footer{
    margin: 0;
    border-radius:0;
         }
  .blur{
    height: 3px;
    background: linear-gradient(#e8d5cc, #842b1d);
       }
    

                                          }

@media only screen and (max-width: 480px) {
  img.static:hover{
    transform: scale(1.25,1.25)
  }
  .photoblock{
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
             }
                                          }